body{
	background-color: #649CFF
}
.p1{
	background-image: url("../img/p1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header-text{
	text-align: center;
	color: red;
	padding-top: 45vh;
	font-size: 40px;
	font-style: italic;
}

.space-section{
	padding: 150px;
	background-color: 
}

p